*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#gallery{
    text-align: center;
    color: burlywood;
    text-shadow: 2px 2px 15px rgb(26, 23, 23);
    margin: 20px 0;
    margin-bottom: 20px;
    font-size: 3rem;
}

.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;  /*equal margin from left and right side */
    padding: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

}

.card{
width: 32%;
position: relative;
margin-bottom: 20px;
 border-radius: 10px; /*for rounded cornerss */
 overflow: hidden;

}

.card img{
    width: 100%;
    filter: grayscale(100%);
    object-fit: cover;
    height: 100%;
    box-shadow: 0 0 20px rgb(49, 48, 48);
}

.card:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px red);
    transition: 0.5s;
}

.card:hover img{
    filter: grayscale(0%);
}

.card figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25%;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0,0,0,0.5 0%),rgba(255,255,255));
    transition: 0.3s;
}

.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);

}
